<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new record at Book table in db.db file</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="form-group">
                        <label for="name">Book title:</label>
                        <input type="text" class="form-control" name="name" id="name">
                        <label for="author">Author's name:</label>
                        <input type="text" class="form-control" name="author" id="author">
                        <label for="genre">Genre name:</label>
                        <input type="text" class="form-control" name="genre" id="genre">
                        <label for="year">Year of publishing:</label>
                        <input type="text" class="form-control" name="year" id="year">
                    </div>
                    <input style="width: 100%" class="btn btn-primary" type="submit" value="Add this book">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
