<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add genre</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                <form method="post">
                    <div class="form-group">
                        {% if form.name.errors %}
                            {{ form.name.errors }}
                        {% endif %}
                        <label for={{ form.name }}{{ form.name.description }}</label>
                        {{ form.name (size=54)}}
                    </div>
                    <input style="width: 100%" class="btn btn-primary" type="submit" value="Add this genre">
                </form>
            </div>
        </div>
    </div>
</body>
</html>

