<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дist of books</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>Book #</th>
                        <th>Book title</th>
                        <th>Author's name</th>
                        <th>Genre name</th>
                        <th>Year of publishing</th>
                        <th></th>
                    </tr>
                    {% for book in books %}
                    <tr>
                        <th>{{ book.id }}</th>
                        <th>«{{ book.name }}»</th>
                        <th>{{ book.author.name }}</th>
                        <th>{{ book.genre.name }}</th>
                        <th>{{ book.year }}</th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>

